body{
    font-size: 16px;
    color: black;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#header-nav{
    background-color:gray;
    border: 0;
    border-radius: 0;
}


.navbar-brand{
    padding: 25px;
}

.navbar-brand h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}

#nav-list{
    margin-top: 10px;
}

#nav-list a{
    color:#000;
    text-align: center;
}

#nav-list a:hover{
    background:#E7E7E7;
}

#nav-list a span{
    font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
    border: 1px solid #fff;
}

#Chickenid,#Beefid,#Sushiid {
    padding: 15px;
}
#Chicken{
    background-color: gray;
    border: 2px solid black;
    font-size: 1.3em;
    padding: 20px;

}
h2{
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.heading{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 2em;
}
@media (min-width:1200px) {
    
}

@media (min-width:992px) and (max-width:1199px) {
  
}

@media (min-width:768px) and (max-width:991px){
  .col-sm-12{
    float: left;
  }
}

@media (max-width:767px) {
    
}